h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: aqua;
  text-align: center;
  color: aqua;
  background: orange;
  border-style: double;
  font-family: Bradley Hand ITC;
  opacity: .9s;
}

body {
  background: teal;
}
h2 {
  color: orange;
  text-align: center;
  font-family: arial;
  font-size: 50;
}
p {
  color: lime;
  font-family: Broadway;
  font-size: 20;
}
audio {
display: hidden;
background-color: orange;
border-color: orange;
}

button {
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: orange;
    color: aqua;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: aqua;
    font-family: Arial;
    font-size: 25;
}
h3 {
  text-align: center;
}
