h1 {
  text-align: center;
  color: aqua;
  background: orange;
  border-style: double;
  font-family: cursive;
  background-image: url('keely.jpeg');
  background-size: 2000px 500px;
}

div {
  text-align: center;
}

body {
  background: teal;
   background-image: url('clouds.gif');
   background-attachment: fixed;
   background-size: cover;
}

p {
  color: green;
  font-family: Fantasy;
  font-size: 20;
  font-style: normal;
  padding-left: 10px;
  padding-right: 10px;
}
audio {
display: hidden;
background-color: orange;
border-color: orange;
}

button {
    background-color: orange;
    color: #d85600;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: Times New Roman;
    font-size: 25;
    border-radius: 100px 100px;
    border-top-color: teal;
    border-top-right-radius: pink;
    border-bottom-color: orange;
    border-top-left-radius: blue;
    border-left-color:  lime;
    border-right-color: purple;
    border-bottom-left-radius: red;
    border-bottom-left-radius: yellow;
    border-spacing: inherit;
    background-position: center;
    background-size: cover;
}
h3 {
  text-align: center;
}

h4 {
  color: aqua;
  font-family: fantasy;
  font-size: 50;
  text-align: center;
}

h2 {
  color: orange;
  font-family: arial;
  font-size: 40;
  text-align: center;
}


#play {
  color: transparent;
  background-image: url('play.jpg');
  font-size: 39;
}

#pause {
  color: transparent;
  background-image: url('pause.jpg');
  font-size: 39;
}

#play-1 {
  color: transparent;
  font-family: fantasy;
  font-size: 100;
  background-image: url('Endless Fantasy.jpg');
}

#play-2 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('Valtari.jpg');
}

#play-3 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('primo.jpg');
}

#play-4 {
  color: transparent;
  font-size: 100;
  background-image: url('arazu.jpg');
  font-family: fantasy;
}

#play-5 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('kintsugi.jpg');
}

#play-6 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('lilypads.jpg');
}

#play-7 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('zZz.jpg');
}

#play-8 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('sovereign.jpg');
}

#play-f {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('cosmos.jpg');
}

#play-h {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('cosmos.jpg');
}

#play-9 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('cosmos.jpg');
}

#play-s {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('still looking.jpg');
}

#play-10 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('endeavors.jpg');
}

#play-11 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('your soul.jpg');
}

#play-12 {
  color: transparent;
  font-size: 100;
  font-family: fantasy;
  background-image: url('falling.jpg');
}
